@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
}

body {
  background-color: #282c34;
  color: #fff;
}

a {
  color: #61dafb;
  text-decoration: none;
}
